<header>
    <h1>菜单</h1>
    <ul>
        <li><a ui-sref="main.sortLetter" ui-sref-active="cur">首字母排序筛选</a></li>
        <li><a ui-sref="main.structure" ui-sref-active="cur">路由嵌套</a></li>
        <li><a ui-sref="main.account" ui-sref-active="cur">用户登录</a></li>
        <li><a ui-sref="main.other" ui-sref-active="cur">项目结构</a></li>
        <li><a ui-sref="main.other" ui-sref-active="cur">node&通知&express</a></li>
        <li><a ui-sref="main.other" ui-sref-active="cur">其它</a></li>
    </ul>
</header>
<section>
    <h2>主体内容</h2>
    <div ui-view></div>
</section>
<footer>
    <h2>版权信息</h2>
</footer>